flows2.json
[{"id":"ee84c22f.9c0d","type":"tab","label":"Hello World","disabled":false,"info":""},{"id":"f82629a2.2786b8","type":"tab","label":"CLIMA AGORA2","disabled":false,"info":""},{"id":"8e207b9e.6bbbd8","type":"tab","label":"SWAMP","disabled":false,"info":""},{"id":"c0490fc2.f0302","type":"tab","label":"Temp/Umid Docker mosquitto RaspBerryPi","disabled":false,"info":""},{"id":"4b0191f2.523d5","type":"tab","label":"FiwareLocal","disabled":false,"info":""},{"id":"b420862c.cefe58","type":"tab","label":"Clima AGORA v2","disabled":false,"info":""},{"id":"35740f02.23aa7","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"ba0ae4c0.0dc298","type":"tab","label":"Clima AGORA v3","disabled":false,"info":""},{"id":"e549fbe5.a13ee8","type":"tab","label":"testes json","disabled":false,"info":""},{"id":"69c700f8.2216e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c7ec53c9.c3fef","type":"mqtt-broker","z":"","name":"","broker":"192.168.99.101","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"au revoir","willTopic":"","willQos":"0","willPayload":""},{"id":"512c5e2e.0a00b","type":"ui_tab","z":"","name":"Home0","icon":"dashboard","disabled":false,"hidden":false},{"id":"7173c40e.90b39c","type":"ui_group","z":"","name":"Default","tab":"512c5e2e.0a00b","order":1,"disp":true,"width":"6","collapse":false},{"id":"5ca03a69.e153e4","type":"ui_group","z":"","name":"TemperaturaExterna","tab":"73cb132b.4fb25c","order":1,"disp":true,"width":"6","collapse":true},{"id":"73cb132b.4fb25c","type":"ui_tab","z":"","name":"Home1","icon":"dashboard","disabled":false,"hidden":false},{"id":"f7a16c8a.df2f5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"43819bfc.3fbf34","type":"ui_group","z":"","name":"Temperatura.Interna","tab":"73cb132b.4fb25c","order":2,"disp":true,"width":"6","collapse":true},{"id":"c5bf0b35.69c3c8","type":"fiware-oauth-credentials","z":"","nickname":"Default","server":"http://192.168.99.101:1026/v2/entities","authport":"","keyrockport":"","authcode":""},{"id":"d420bdef.a1cdb","type":"nec-fiware-credentials","z":"","nickname":"Default","server":"https://192.168.99.100:1026/v2/entities","authport":"","keyrockport":"","authcode":""},{"id":"b69cfc28.0b29f","type":"nec-fiware-credentials","z":"","nickname":"Default","server":"http://192.168.99.100:1026/v2/entities","authport":"","keyrockport":"","authcode":""},{"id":"2d31f4e1.15099c","type":"orion-service","z":"","name":"","url":"192.168.99.101","port":"1026"},{"id":"9b55a15c.07468","type":"nec-fiware-credentials","z":"","nickname":"Default","server":"http://192.168.99.101:1026/v2/entities","authport":"","keyrockport":"","authcode":""},{"id":"d4d6f84d.55ce88","type":"fiware-instance","z":"","fw_protocol":"http","fw_host":"192.168.99.101","fw_port":"4041","fw_token":""},{"id":"85f7faec.e0e9b8","type":"nec-fiware-credentials","z":"","nickname":"Default","server":"https://202.149.16.157","authport":"54406","keyrockport":"44306","authcode":"Basic NzFjZWYwMDItZDRjMy00Y2ZkLThiNjYtZTgzNzc5YmZkZTJlOmM5MjZmMzM2LWJlZmItNDQ0Zi1iYTNkLWQ1NWEwZmY1OTkzMA=="},{"id":"55cb4481.f3862c","type":"mqtt-broker","z":"","name":"teste","broker":"192.168.99.101","port":"1883","clientid":"renatobdo","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"785995d7.dc671c","type":"mqtt in","z":"c0490fc2.f0302","name":"","topic":"labRenato/temperatura","qos":"1","datatype":"auto","broker":"c7ec53c9.c3fef","x":180,"y":120,"wires":[["53873fce.0b90b"]]},{"id":"53873fce.0b90b","type":"debug","z":"c0490fc2.f0302","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":140,"wires":[]},{"id":"8939b224.1cb09","type":"inject","z":"f82629a2.2786b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["f628fa4.c942108"]]},{"id":"f628fa4.c942108","type":"http request","z":"f82629a2.2786b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":100,"wires":[["224a2c67.374114"]]},{"id":"224a2c67.374114","type":"debug","z":"f82629a2.2786b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":120,"wires":[]},{"id":"6cbe8755.1506a8","type":"inject","z":"8e207b9e.6bbbd8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":120,"wires":[["a09989e6.35cc08"]]},{"id":"a09989e6.35cc08","type":"http request","z":"8e207b9e.6bbbd8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://177.104.61.27:1026/version","tls":"","persist":true,"proxy":"","authType":"","x":380,"y":120,"wires":[["7b987c6e.06e314"]]},{"id":"7b987c6e.06e314","type":"debug","z":"8e207b9e.6bbbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":590,"y":160,"wires":[]},{"id":"41a7c00e.253e4","type":"inject","z":"ee84c22f.9c0d","name":"","topic":"","payload":"Hello World","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":120,"wires":[["374696d5.0e83ea"]]},{"id":"374696d5.0e83ea","type":"debug","z":"ee84c22f.9c0d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":160,"wires":[]},{"id":"3f5d511a.2b869e","type":"inject","z":"8e207b9e.6bbbd8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":280,"wires":[["4fdf50b.be53db"]]},{"id":"4fdf50b.be53db","type":"http request","z":"8e207b9e.6bbbd8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://177.104.61.27:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":280,"wires":[["31ac01ab.989d2e"]]},{"id":"31ac01ab.989d2e","type":"debug","z":"8e207b9e.6bbbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":570,"y":300,"wires":[]},{"id":"6fc2862b.d857a8","type":"inject","z":"4b0191f2.523d5","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["474d2c81.2308a4"]]},{"id":"474d2c81.2308a4","type":"http request","z":"4b0191f2.523d5","name":"GET entities local","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.99.101:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":100,"wires":[["d45772a7.e1e49"]]},{"id":"d45772a7.e1e49","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":100,"wires":[]},{"id":"b01143df.0f1c","type":"inject","z":"b420862c.cefe58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["e8eec7d9.d51168"]]},{"id":"e8eec7d9.d51168","type":"http request","z":"b420862c.cefe58","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":140,"wires":[["58636bb.edb7b94"]]},{"id":"58636bb.edb7b94","type":"json","z":"b420862c.cefe58","name":"","property":"payload","action":"","pretty":false,"x":390,"y":220,"wires":[["d3a76a7d.cc33e8","4a589139.a8f52"]]},{"id":"d3a76a7d.cc33e8","type":"debug","z":"b420862c.cefe58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"4a589139.a8f52","type":"function","z":"b420862c.cefe58","name":"","func":"msg.payload = {\"Temperatura\":msg.payload.main.temp,\n\"Mínima\": msg.payload.main.temp_min,\n\"Máxima\": msg.payload.main.temp_max}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["e24244f7.99a468"]]},{"id":"e24244f7.99a468","type":"debug","z":"b420862c.cefe58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":340,"wires":[]},{"id":"ef8ea607.18f1b8","type":"inject","z":"35740f02.23aa7","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["3b3d8fc4.53597"]]},{"id":"3b3d8fc4.53597","type":"http request","z":"35740f02.23aa7","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":120,"wires":[["47b49d26.c808c4"]]},{"id":"47b49d26.c808c4","type":"json","z":"35740f02.23aa7","name":"","property":"payload","action":"","pretty":false,"x":290,"y":80,"wires":[["7282861c.a4d2c8","78abbe42.54b36","6b7edfae.26ba3"]]},{"id":"7282861c.a4d2c8","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"3e8e00d2.ad9d6","type":"ui_gauge","z":"35740f02.23aa7","name":"","group":"7173c40e.90b39c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":180,"wires":[]},{"id":"78abbe42.54b36","type":"change","z":"35740f02.23aa7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["3e8e00d2.ad9d6","27829bab.d5a5a4","febe950b.bc12e8"]]},{"id":"27829bab.d5a5a4","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":120,"wires":[]},{"id":"6ecfa283.da692c","type":"inject","z":"ba0ae4c0.0dc298","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["5fb640c5.00ff2"]]},{"id":"5fb640c5.00ff2","type":"http request","z":"ba0ae4c0.0dc298","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":140,"wires":[["7e2fbb9e.5ec254"]]},{"id":"7e2fbb9e.5ec254","type":"json","z":"ba0ae4c0.0dc298","name":"","property":"payload","action":"","pretty":false,"x":350,"y":240,"wires":[["d8295df3.89439","3291597.c12d3a6","b10b5c62.88f29","75f166b.cde9198"]]},{"id":"d8295df3.89439","type":"debug","z":"ba0ae4c0.0dc298","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":160,"wires":[]},{"id":"1062076d.b90259","type":"ui_gauge","z":"ba0ae4c0.0dc298","name":"","group":"5ca03a69.e153e4","order":4,"width":0,"height":0,"gtype":"gage","title":"Mínima","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":480,"wires":[]},{"id":"3291597.c12d3a6","type":"change","z":"ba0ae4c0.0dc298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_min","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["1062076d.b90259"]]},{"id":"833ef721.6899f8","type":"ui_gauge","z":"ba0ae4c0.0dc298","name":"","group":"5ca03a69.e153e4","order":3,"width":0,"height":0,"gtype":"gage","title":"Máxima","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":380,"wires":[]},{"id":"b10b5c62.88f29","type":"change","z":"ba0ae4c0.0dc298","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp_max","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":360,"wires":[["833ef721.6899f8"]]},{"id":"75f166b.cde9198","type":"function","z":"ba0ae4c0.0dc298","name":"","func":"msg.payload = Math.round(msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["57d6a1c3.ad8b2"]]},{"id":"57d6a1c3.ad8b2","type":"ui_gauge","z":"ba0ae4c0.0dc298","name":"","group":"5ca03a69.e153e4","order":1,"width":0,"height":0,"gtype":"gage","title":"TemperaturaExterna","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":260,"wires":[]},{"id":"b9010030.02d05","type":"mqtt in","z":"4b0191f2.523d5","name":"","topic":"labRenato/temperatura","qos":"2","datatype":"auto","broker":"c7ec53c9.c3fef","x":180,"y":480,"wires":[["8089a832.09b698"]]},{"id":"cb232c32.9c8b","type":"mqtt in","z":"c0490fc2.f0302","name":"","topic":"labRenato/umidade","qos":"2","datatype":"auto","broker":"c7ec53c9.c3fef","x":240,"y":260,"wires":[["53873fce.0b90b"]]},{"id":"9a7ad881.89e928","type":"mqtt in","z":"ba0ae4c0.0dc298","name":"","topic":"labRenato/tempUmid","qos":"1","datatype":"auto","broker":"c7ec53c9.c3fef","x":340,"y":560,"wires":[["5e2ded06.f7ed24"]]},{"id":"528fbb24.74cf44","type":"mqtt in","z":"ba0ae4c0.0dc298","name":"","topic":"labRenato/umidade","qos":"2","datatype":"auto","broker":"c7ec53c9.c3fef","x":350,"y":620,"wires":[["93fe5448.5300f8"]]},{"id":"5e2ded06.f7ed24","type":"ui_gauge","z":"ba0ae4c0.0dc298","name":"","group":"43819bfc.3fbf34","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":560,"wires":[]},{"id":"93fe5448.5300f8","type":"ui_chart","z":"ba0ae4c0.0dc298","name":"","group":"43819bfc.3fbf34","order":2,"width":0,"height":0,"label":"Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":680,"wires":[[]]},{"id":"f74f5623.fb0b28","type":"inject","z":"e549fbe5.a13ee8","name":"JSON String","topic":"","payload":"{\"a\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["6bf5e75c.e199d8"]]},{"id":"6bf5e75c.e199d8","type":"json","z":"e549fbe5.a13ee8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["2136a77b.f779d8"]]},{"id":"2136a77b.f779d8","type":"debug","z":"e549fbe5.a13ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":140,"wires":[]},{"id":"9c597dad.97d84","type":"inject","z":"e549fbe5.a13ee8","name":"Object","topic":"","payload":"{\"a\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["cb82faee.0f7a58"]]},{"id":"cb82faee.0f7a58","type":"json","z":"e549fbe5.a13ee8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":180,"wires":[["69b3b27d.668a0c"]]},{"id":"69b3b27d.668a0c","type":"debug","z":"e549fbe5.a13ee8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":180,"wires":[]},{"id":"1fa28ec7.d63bd1","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":580,"wires":[]},{"id":"8089a832.09b698","type":"function","z":"4b0191f2.523d5","name":"TempJson","func":"msg.payload = {\n   \"temperatura\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["1fa28ec7.d63bd1","ad97352.d6a85c8"]]},{"id":"cf82dd84.89f5e","type":"mqtt in","z":"4b0191f2.523d5","name":"","topic":"labRenato/umidade","qos":"2","datatype":"auto","broker":"c7ec53c9.c3fef","x":130,"y":620,"wires":[["446a81b6.0a9fe"]]},{"id":"ad97352.d6a85c8","type":"join","z":"4b0191f2.523d5","name":"SensorDHT11","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":540,"y":640,"wires":[["280e13f0.fb4a5c","56fd2fa0.12af5"]]},{"id":"446a81b6.0a9fe","type":"function","z":"4b0191f2.523d5","name":"UmidadeJson","func":"msg.payload = {\n   \"umidade\": msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":680,"wires":[["ad97352.d6a85c8"]]},{"id":"280e13f0.fb4a5c","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":700,"wires":[]},{"id":"d0cf7f22.57bcd","type":"inject","z":"4b0191f2.523d5","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["e4d0b1d7.e50b8"]]},{"id":"e4d0b1d7.e50b8","type":"http request","z":"4b0191f2.523d5","name":"GET version local","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.99.101:1026/version","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":40,"wires":[["37aa5a08.337326"]]},{"id":"37aa5a08.337326","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":40,"wires":[]},{"id":"d701e45.e9e1318","type":"inject","z":"4b0191f2.523d5","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["31147b61.ae0124"]]},{"id":"31147b61.ae0124","type":"http request","z":"4b0191f2.523d5","name":"GET entities remoto","method":"GET","ret":"txt","paytoqs":false,"url":"http://177.104.61.27:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":160,"wires":[["70005099.5856b"]]},{"id":"70005099.5856b","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":160,"wires":[]},{"id":"1d4331c6.5c192e","type":"inject","z":"4b0191f2.523d5","name":"","topic":"","payload":"{\"id\":\"urn:ngsi-ld:SensorDHT22:001\",\"type\":\"sensorDHT22\",\"name\":{\"type\":\"Number\",\"value\":\"Sensor de temperatura e umidade\"},\"temperatura\":{\"type\":\"Number\",\"value\":\"\"},\"umidade\":{\"type\":\"Number\",\"value\":\"\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["b401b8aa.50be48"]]},{"id":"b401b8aa.50be48","type":"http request","z":"4b0191f2.523d5","name":"POST entities remoto","method":"POST","ret":"txt","paytoqs":false,"url":"http://177.104.61.27:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":240,"wires":[["a98d9c01.f4f62"]]},{"id":"a98d9c01.f4f62","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":240,"wires":[]},{"id":"1347ad68.dab6a3","type":"inject","z":"4b0191f2.523d5","name":"","topic":"","payload":"{\"id\":\"urn:ngsi-ld:SensorDHT22:001\",\"type\":\"sensorDHT22\",\"name\":{\"type\":\"Number\",\"value\":\"Sensor de temperatura e umidade\"},\"temperatura\":{\"type\":\"Number\",\"value\":\"\"},\"umidade\":{\"type\":\"Number\",\"value\":\"\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["baf39451.1c1f48"]]},{"id":"baf39451.1c1f48","type":"http request","z":"4b0191f2.523d5","name":"POST entities local","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.99.101:1026/v2/entities","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":300,"wires":[["577599fe.2c72d8"]]},{"id":"577599fe.2c72d8","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"jsonata","x":500,"y":300,"wires":[]},{"id":"56fd2fa0.12af5","type":"change","z":"4b0191f2.523d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":380,"wires":[["5379407f.3a374"]]},{"id":"ab4ad75.745ae28","type":"debug","z":"4b0191f2.523d5","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"","targetType":"jsonata","x":960,"y":420,"wires":[]},{"id":"7b647ba2.fc7ac4","type":"inject","z":"69c700f8.2216e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":80,"wires":[["74b23dbc.454344"]]},{"id":"d20ae859.602198","type":"debug","z":"69c700f8.2216e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":80,"wires":[]},{"id":"74b23dbc.454344","type":"template","z":"69c700f8.2216e","name":"behicle_json","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{ \n   \"id\":\"FujisawaGarbageTruck6\",\n   \"type\":\"Vehicle\",\n   \"location\":{ \n      \"type\":\"geo:point\",\n      \"value\":\"36.312, 113.444\"\n   },\n   \"angle\":{ \n      \"type\":\"Number\",\n      \"value\":\"68\"\n   },\n   \"speed\":{ \n      \"type\":\"Number\",\n      \"value\":\"68\"\n   },\n   \"timestamp\":{ \n      \"type\":\"unixtimestamp\",\n      \"value\":\"1231938981134\"\n   }\n}","output":"str","x":310,"y":80,"wires":[["11fdc56f.7889cb"]]},{"id":"11fdc56f.7889cb","type":"json","z":"69c700f8.2216e","name":"","property":"payload","action":"","pretty":false,"x":450,"y":80,"wires":[["5aed167f.eacaf8","68c5a848.41f7e8"]]},{"id":"5aed167f.eacaf8","type":"debug","z":"69c700f8.2216e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":140,"wires":[]},{"id":"68c5a848.41f7e8","type":"CreateEntity","z":"69c700f8.2216e","name":"","login":"85f7faec.e0e9b8","x":610,"y":80,"wires":[["d20ae859.602198"]]},{"id":"9c0edd5c.b0e5f","type":"PutEntity","z":"69c700f8.2216e","name":"","login":"85f7faec.e0e9b8","x":600,"y":220,"wires":[["d417abbe.572058"]]},{"id":"f0c6e608.2b0bb8","type":"inject","z":"69c700f8.2216e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["9ba6c1ef.41f3"]]},{"id":"9ba6c1ef.41f3","type":"template","z":"69c700f8.2216e","name":"behicle_json","field":"payload","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"entity\": \"FujisawaGarbageTruck1\",\n    \"data\": {\n        \"location\": \n        {\n            \"value\": \"36.312506, 113.444112\"\n        },\n        \"timestamp\": {\n            \"value\": \"155555555\"\n        }\n    }\n}","output":"str","x":310,"y":220,"wires":[["90a4f3f7.f91e1"]]},{"id":"90a4f3f7.f91e1","type":"json","z":"69c700f8.2216e","name":"","property":"payload","action":"","pretty":false,"x":450,"y":220,"wires":[["9c0edd5c.b0e5f"]]},{"id":"d417abbe.572058","type":"debug","z":"69c700f8.2216e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":220,"wires":[]},{"id":"c22433df.e61d1","type":"mqtt in","z":"35740f02.23aa7","name":"Subscribe Mosquitto","topic":"/4jggokgpepnvsb2uv4s40d59ov/Sensor001/attrs","qos":"2","datatype":"auto","broker":"55cb4481.f3862c","x":130,"y":280,"wires":[["69f1cec8.5dde4"]]},{"id":"1466fe2d.00e6e2","type":"mqtt out","z":"35740f02.23aa7","name":"Publish mosquito","topic":"/4jggokgpepnvsb2uv4s40d59ov/Sensor001/attrs","qos":"","retain":"","broker":"c7ec53c9.c3fef","x":750,"y":240,"wires":[]},{"id":"5379407f.3a374","type":"http request","z":"4b0191f2.523d5","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.99.101:7896/iot/d?k=4jggokgpepnvsb2uv4s40d59ov&i=Sensor001","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":420,"wires":[["ab4ad75.745ae28"]]},{"id":"69f1cec8.5dde4","type":"debug","z":"35740f02.23aa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":360,"wires":[]},{"id":"febe950b.bc12e8","type":"template","z":"35740f02.23aa7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"t|{{payload}}","output":"str","x":540,"y":240,"wires":[["b7878da2.99ba9","1466fe2d.00e6e2"]]},{"id":"b7878da2.99ba9","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"d5dfe570.121ee8","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":420,"wires":[]},{"id":"6b7edfae.26ba3","type":"template","z":"35740f02.23aa7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"t|{{payload.main.temp}}|u|{{payload.main.humidity}}","output":"str","x":460,"y":320,"wires":[["d5dfe570.121ee8","13c70db3.437f62"]]},{"id":"13c70db3.437f62","type":"mqtt out","z":"35740f02.23aa7","name":"Publish mosquito","topic":"/4jggokgpepnvsb2uv4s40d59ov/Sensor001/attrs","qos":"","retain":"","broker":"c7ec53c9.c3fef","x":470,"y":440,"wires":[]}]
