flows2.json
[{"id":"35740f02.23aa7","type":"tab","label":"CLIMA AgoraV2_1","disabled":false,"info":""},{"id":"ef8ea607.18f1b8","type":"inject","z":"35740f02.23aa7","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["3b3d8fc4.53597"]]},{"id":"3b3d8fc4.53597","type":"http request","z":"35740f02.23aa7","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?lat=-23.6766474&lon=-46.5568912&appid=c7f8bc1d2e8a77746581de0ac142c8b3&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":120,"wires":[["47b49d26.c808c4"]]},{"id":"47b49d26.c808c4","type":"json","z":"35740f02.23aa7","name":"","property":"payload","action":"","pretty":false,"x":250,"y":180,"wires":[["7282861c.a4d2c8","78abbe42.54b36"]]},{"id":"7282861c.a4d2c8","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":60,"wires":[]},{"id":"3e8e00d2.ad9d6","type":"ui_gauge","z":"35740f02.23aa7","name":"","group":"7173c40e.90b39c","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":200,"wires":[]},{"id":"78abbe42.54b36","type":"change","z":"35740f02.23aa7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["3e8e00d2.ad9d6","27829bab.d5a5a4","25ca7886.213118","febe950b.bc12e8"]]},{"id":"27829bab.d5a5a4","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"25ca7886.213118","type":"http request","z":"35740f02.23aa7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"192.168.99.101:1026","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":240,"wires":[[]]},{"id":"c22433df.e61d1","type":"mqtt in","z":"35740f02.23aa7","name":"Subscribe Mosquitto","topic":"/4jggokgpepnvsb2uv4s40d59ov/Sensor003/attrs","qos":"2","datatype":"auto","broker":"55cb4481.f3862c","x":130,"y":280,"wires":[["69f1cec8.5dde4"]]},{"id":"1466fe2d.00e6e2","type":"mqtt out","z":"35740f02.23aa7","name":"Publish mosquito","topic":"/4jggokgpepnvsb2uv4s40d59ov/Sensor003/attrs","qos":"","retain":"","broker":"c7ec53c9.c3fef","x":690,"y":300,"wires":[]},{"id":"69f1cec8.5dde4","type":"debug","z":"35740f02.23aa7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":340,"wires":[]},{"id":"febe950b.bc12e8","type":"template","z":"35740f02.23aa7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"t|{{payload}}","output":"str","x":520,"y":380,"wires":[["b7878da2.99ba9","1466fe2d.00e6e2"]]},{"id":"b7878da2.99ba9","type":"debug","z":"35740f02.23aa7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":420,"wires":[]},{"id":"7173c40e.90b39c","type":"ui_group","z":"","name":"Default","tab":"512c5e2e.0a00b","order":1,"disp":true,"width":"6","collapse":false},{"id":"55cb4481.f3862c","type":"mqtt-broker","z":"","name":"teste","broker":"192.168.99.101","port":"1883","clientid":"renatobdo","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7ec53c9.c3fef","type":"mqtt-broker","z":"","name":"","broker":"192.168.99.101","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"au revoir","willTopic":"","willQos":"0","willPayload":""},{"id":"512c5e2e.0a00b","type":"ui_tab","z":"","name":"Home0","icon":"dashboard","disabled":false,"hidden":false}]